<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings />
        <system.serviceModel>
          <bindings>
            <basicHttpBinding>
              <binding name="BillServicePortBinding">
                <security mode="Transport" />
              </binding>
              <binding name="BillServicePortBinding2">
                <security mode="Transport" />
              </binding>
              <binding name="BillServicePortBinding3" />
              <binding name="BillConsultServicePortBinding">
                <security mode="Transport" />
              </binding>
              <binding name="BillConsultServicePortBinding1" />
              <binding name="BillValidServicePortBinding">
                <security mode="Transport" />
              </binding>
              <binding name="BillValidServicePortBinding1" />
            </basicHttpBinding>
            <customBinding>
              <binding name="BillServicePortBinding1">
                <textMessageEncoding messageVersion="Soap12" />
                <httpsTransport />
              </binding>
            </customBinding>
          </bindings>
        <client>
                <endpoint address="https://e-beta.sunat.gob.pe:443/ol-ti-itcpfegem-beta/billService"
                        binding="basicHttpBinding" bindingConfiguration="BillServicePortBinding"
                        contract="GetSunat.billService" name="BillServicePort">
                        <headers>
                                <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
                                        <wsse:UsernameToken Id="ABC-123">
                                                <wsse:Username>20449387318MODDATOS</wsse:Username>
                                                <wsse:Password>MODDATOS</wsse:Password>
                                        </wsse:UsernameToken>
                                </wsse:Security>
                        </headers>
                </endpoint>
                <endpoint address="https://www.sunat.gob.pe:443/ol-it-wsconscpegem/billConsultService"
                        binding="basicHttpBinding" bindingConfiguration="BillConsultServicePortBinding"
                        contract="GetSunat_CDR.billService" name="BillConsultServicePort">
                        <headers>
                                <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
                                        <wsse:UsernameToken Id="ABC-123">
                                                <wsse:Username>20449387318MODDATOS</wsse:Username>
                                                <wsse:Password>MODDATOS</wsse:Password>
                                        </wsse:UsernameToken>
                                </wsse:Security>
                        </headers>
                </endpoint>
          <endpoint address="https://e-factura.sunat.gob.pe/ol-it-wsconsvalidcpe/billValidService"
                binding="basicHttpBinding" bindingConfiguration="BillValidServicePortBinding"
                contract="GetSunat_Valida.billValidService" name="BillValidServicePort">
            <headers>
              <wsse:Security mustUnderstand="0" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
                <wsse:UsernameToken Id="ABC-123">
                  <wsse:Username>20449387318MODDATOS</wsse:Username>
                  <wsse:Password>MODDATOS</wsse:Password>
                </wsse:UsernameToken>
              </wsse:Security>
            </headers>
          </endpoint>
          
        </client>
      
    </system.serviceModel>
  <startup  useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"></supportedRuntime>
  </startup>
 
</configuration>
